:root {
    --primary: violet;
}

body {
    background-color: black;

}

.main {
    display: inherit;
    background-color: white;
    width: 80%;
    padding: 10px;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    height: 96vh;
}

h1 {
    font-size: 7em;
    text-align: center;
}

p {
    font-size: xx-large;
    text-align: center;
}

.btn {
    display: inherit;
    text-align: center;
    padding: 5em;
    font-size: x-large;
    font-style: italic;
    background-color: var(--primary);
    color: aliceblue;
    border: 3px solid black;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    transition: all .5s;
}

.btn:hover {
    padding: 4.5em;
    border: 15px solid var(--primary);
    background-color: black;
}

grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}